<h2>Combien de jours participer ?</h2>
<p>Vous participez autant de jours que vous le souhaitez.</p>
{{ participationContent }}
<h2>Comment réserver/annuler une date ?</h2>
<p>Pour réserver ou annuler une date, il suffit simplement de cliquer dessus sur le calendrier, puis de confirmer votre choix.</p>
<h2>Quelques conditions pour modifier les dates</h2>
<ul class='list-disc'>
  <li>Vous ne pouvez pas annuler une journée de bénévolat moins de 3 jours avant</li>
  <li>Une fois la date passée, on ne peut plus modifier les informations</li>
</ul>
<h2>Comment contacter un autre bénévole ou responsable ?</h2>
<p>Pour avoir les coordonnées (téléphone et adresse e-mail) d'une personne, cliquez simplement sur son nom sur le calendrier.</p>
