{% extends 'base.html.twig' %}

{% block title %}Planning des bénévoles{% endblock %}

{% block body %}
  <h1>Planning des bénévoles</h1>

  <div class="flex flex-row space-x-10">
    <div class="md:basis-5/6">
        <span class="inline-block mb-2 bg-purple text-white text-xs md:text-sm font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">
            En violet : vos jours de bénévolat
        </span>
      <span class="inline-block mb-2 bg-blue-400 text-white text-xs md:text-sm font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">
            En bleu : les jours réservés par les autres bénévoles
        </span>
      <span class="inline-block mb-2 bg-stone-300 text-stone-600 text-xs md:text-sm font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">
            En gris : le responsable à contacter en cas de problème
        </span>
    </div>
    <div class="md:basis-1/6 text-right">
      <button
              class="text-xs md:text-sm py-2 px-3 bg-rose-400 hover:bg-rose-500 text-white font-semibold rounded-md focus:outline-none transition duration-300 ease"
              data-modal="1"
              data-help-modal="1"
              data-closebtn="Fermer"
              data-displaysendbtn=""
              data-title="Comment ça marche ?"
              data-content="{% include 'calendar/_help.html.twig' %}">
        Comment ça marche ?
      </button>
    </div>
  </div>

  <div id="calendarContainer">
    {% include 'calendar/_calendar.html.twig' %}
  </div>
{% endblock %}
