{% extends 'base.html.twig' %}

{% block title %}Documents et codes{% endblock %}

{% block body %}
  <h2>Documents</h2>
            <h3>Guide du bénévole</h3>
            <p><a href="https://drive.google.com/file/d/1MSCQIa2glBZnXmoUSF225S3GgAKMha7d/view?usp=sharing" target="_blank" class="underline">Télécharger le guide du bénévole</a></p>
            <h3>Engagement moral du bénévole</h3>
            <p><a href="https://drive.google.com/file/d/1vJr42BLkKKyg5FZlPtr5leGYWtdGf7wI/view?usp=sharing" target="_blank" class="underline">Télécharger l'engagement moral du bénévole</a></p>
    <h2>Codes des cadenas</h2>
    <ul>
        <li>Le code du cadenas du placard est <b>{{ closetPadlockCode }}</b></li>
        <li>Le code des cadenas des composteurs est <b>{{ composterPadlockCode }}</b></li>
    </ul>
{% endblock %}
