{% extends 'base.html.twig' %}
{% set containerDiv = false %}

{% block body %}
  <div class="grid h-[calc(100vh-56px)] place-items-center home">
    <div>
      <img class="mx-auto" src="{{ asset('img/Frigodons.png') }}" alt="Frig'o dons">
      <h1>Frig'o dons</h1>
      <h3>Ne jetez plus, partagez !</h3>
    </div>
  </div>
{% endblock %}
