{% extends 'base.html.twig' %}

{% block title %}Frig'o dons{% endblock %}

{% block body %}
  <div class="grid h-screen place-items-center">
    <div>
      <img class="mx-auto" src="{{ asset('img/Frigodons.png') }}" alt="Frig'o dons">
      <h1>Frig'o dons</h1>
    </div>
  </div>
{% endblock %}
