@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        font-family: Arial, system-ui, sans-serif;
        font-size: theme('fontSize.base');
    }
    h1 {
        font-family: Oswald, system-ui, sans-serif;
        font-weight: 500;
        font-size: theme('fontSize.3xl');
        padding:0 0 0.4em 0;
        text-transform: uppercase;
    }
    .home h1 {
        font-family: Chelsea Market, system-ui, sans-serif;
        font-size: theme('fontSize.4xl');
    }
    h2 {
        font-family: Oswald, system-ui, sans-serif;
        font-size: theme('fontSize.2xl');
        font-weight: 400;
        padding:0 0 0.6em 0;
        margin-top: 2em;
    }
    h2:first-of-type {
        margin-top: 0;
    }
    h3 {
        font-family: Oswald, system-ui, sans-serif;
        font-size: theme('fontSize.xl');
        color: theme('colors.black-400');
        font-weight: 400;
        padding:0 0 0.6em 0;
        margin-top: 2em;
    }
    p {
        padding: 0.1em 0;
    }
    h3:first-of-type {
        margin-top: 0;
    }
    #dialogModal h1{
        padding:0;
    }
    #dialogModal h2{
        margin-top:1em;
    }
    #dialogModal h2:first-of-type {
        margin-top: 0;
    }
    #dialogModal .participationH3{
        display:none;
    }
    #dialogModal p.mt-4{
        margin-top:1em;
    }
    ul {
        list-style-position: inside;
    }
    .calendar-table th, .calendar-table td {
        border: 1px solid #e5e7eb;
    }
    td.cleaning-date-today, td.supervising-date-today {
        border: 2px solid crimson;
    }
    td.cleaning-date-today{
        border-bottom: 0px;
    }
    td.supervising-date-today{
        border-top: 0px;
    }
}

@screen md {
    body{
        font-size: theme('fontSize.base');
    }
    h1 {
        font-size: theme('fontSize.4xl');
    }
    h2 {
        font-size: theme('fontSize.3xl');
    }
    h3 {
        font-size: theme('fontSize.2xl');
    }
    .home h1 {
        font-size: theme('fontSize.6xl');
    }
}

